body {
    margin: 0%;
    background-image: linear-gradient(to right, rgb(242, 238, 203), rgb(224, 205, 169));  
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    height: 1000vh;
}

html {
    scroll-behavior: smooth;
}
    
    /* début du header */

header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border: solid 1px black;
    height: 80px;
    position: fixed;
    width: 100%; 
    background-color: rgb(11, 22, 22);
    z-index: 2;
}

.de { 
    margin-right: auto;
}
.titre {
    font-weight: bold;
    font-size: 25px;
    color: gold;    
    border: solid 2px gold;
    padding: 12px 20px 12px 20px;
    background-color: black;
        
}
.droite {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.Ormun {
    border: solid 2px green;
    padding: 12px 20px 12px 20px;
    color: black;
    background-color: green;
}

.Pogo {
    border: solid 2px red;
    padding: 12px 20px 12px 20px;
    color: black;
    background-color: red;
}

.Vorther {
    border: solid 2px yellow;
    padding: 12px 20px 12px 20px;
    color: black;
    background-color: yellow;
}

.Wardell {
    border: solid 2px darkblue;
    padding: 12px 20px 12px 20px;
    margin-right: 10px;
    color: black;
    background-color: darkblue;
}

/* Fin du header */

/* Début du main */
/* Premiere page */

main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(242, 238, 203), rgb(224, 205, 169));  
}

/* Introduction */

.description {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80vw;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    border: solid 1px black;
}

.placement {
    margin-left: 20px;
    position: relative;
    
}

.roll20 {
    position: absolute;
    right: 0px;
}

.groupeaventure {
    margin-top: -195px;
    display: flex;
    justify-content: center;
}

/* Fin de l'intro */

/* Début présentation des personnages */

.presentation {
    margin-top: 50  px;
    margin-left: 155px;
    margin-bottom: 20px;
}

/* présentation d'Ormun */

.pormun {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80vw;
    height: auto;
    border: solid 1px green;
}

.placementO {
    margin-left: 20px;
    position: relative;
}

.absoluteO {
    position: absolute;
    right: 0px;
}

/* fin de la présentation d'Ormun */

/* Début de la présentation de Pogo */

.ppogo {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80vw;
    height: auto;
    border: solid 1px red;
    margin-top: 30px;
}

.placementP {
    margin-left: 20px;
    position: relative;
}

.absoluteP {
    position: absolute;
    right: 5px;
}



/* Style des liens */

a:link {
    text-decoration: none;
  }
  
.lienormun {
    text-decoration-color: green;
}

.lienjoron {
    text-decoration-color: gold;
}

.lienpogo {
    text-decoration: red;
}