body {
    margin: 0%;
    padding: 0%;
  }

html {
    scroll-behavior: smooth;
}

/* début de l'entête */

header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(192, 191, 191);
}

.logo {
    display: flex;
    font-size: 30px;
    margin-right: auto;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.milieu {
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: larger;
    align-items: center;
}

.hautdroite {
    color: rgb(74, 134, 232);
    margin-right: 20px;
    border: solid 1px rgb(74, 134, 232); 
    font-size: 20px;
    padding: 10px;
    margin-left: auto;
}



/*Fin de l'entête*/

/*Début du main*/

.letout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    background-image: linear-gradient(rgb(192, 191, 191), white);
}
.partie1 {
    font-size: larger;  
    width: 50%;
    margin-top: 75px;
    margin-left: 50px;
    min-height: 70vh;
    
}


.dessus {
    font-size: 25px;
}

.construire {
    font-weight: bold;
    font-size: larger;
}


.blocs {
    display: flex;
    gap: 5px;
}

.demo {
    background-color: rgb(74, 134, 232);
    color: white;
    padding: 15px 60px 15px 60px;
    border: solid 1px rgb(74, 134, 232)
}

.inscrire {
    color: rgb(74, 134, 232);
    border: solid rgb(74, 134, 232) 1px;
    padding: 15px 60px 15px 60px;
}

.partie2 {
   margin-top: 100px; 
}

/* Fin de la premiere page */

/* début de la seconde page */

.secondpage {
    min-height: 80vh; 
    margin-top: 250px;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    overflow: hidden;
}

.centre {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 70px;
 margin: auto;
}

.geometrique {
    font-size: 30px;
}

.care {
    display: flex;
    height: 200px; 
    width: 200px;
    background-image: linear-gradient(135deg, blue, purple, rgb(236, 0, 255));
    rotate: 45deg;     
}
/* Mise en place du petit "promo" */


.bougeplus {
    position: absolute;
    color: white;
    background-color: rgb(67, 67, 67);
    transform: rotate(-45deg);
    padding: 10px 70px 10px 70px;
    bottom: 20px;
    right: -50px;
}

/* fin de la mise en place du promo */   
/*Fin de la seconde page */

/* début du footer */

footer {
    min-height: 10vh;
    color: white;
    display: flex;
}

.baspage {
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
}

.textefin {
    margin-left: 20px;
    font-size: 15px;
}
.logofin {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    gap: 10px;
}

.squarebas {
    font-weight: bolder;
    font-size: 40px;
}
    

/* fin du footer */

/* style des liens */

.bleudemort {
    color: rgb(74, 134, 232)
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }  
  


